@font-face {
    font-family: 'font1';
    src: url(../fonts/EinsteinRomanOpti.otf) format('opentype');
}

@font-face {
    font-family: 'font2';
    src: url(../fonts/HomepageBaukasten-Book.otf) format('opentype');
}

@font-face {
    font-family: 'font3';
    src: url(../fonts/humans.ttf) format('truetype');
}