// variables
$pink: #FF8D84;
$gray: #484848;
$light-gray: #b9b9b9;
// grid
$xl: 1200px;
$lg: 992px;
$md: 769px;
$sm: 579px;

// global
.container-fluid {
    padding: 0;
    width: 80vw;
    @media screen and (max-width: $xl) {
        width: 90vw;
    }
}
.not-show {
    display: none;
}
.spacer {
    height: 80px;
}

header {
    width: 100%;
    z-index: 99;
    position: fixed;
    padding: 15px 0;
    background-color: rgba(255,255,255,0.9);
    border-bottom: 1px solid black;

    nav {
        display: flex;
        @media screen and (max-width: $lg) {
            display: none;
        }

        .item-nav {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            &.links {
                flex: 1;
                justify-content: end;
                position: relative;
                right: 2em;
            }

            &.last {
                flex: 1;
                position: relative;
                left: 2em;

                a {
                    margin-right: 0;
                    margin-left: 4em;
                    @media screen and (max-width: 1400px) {
                        margin-right: 2em;
                    }
                }
            }

            a {
                color: black;
                font-family: 'font3';
                margin-right: 4em;
                font-size: 1.2em;
                @media screen and (max-width: 1400px) {
                    margin-right: 2em;
                }

            }

            .logo {
                height: 30px;
            }
        }
    }
    .nav-mobile {
        display: none;
        .logo {
            height: 30px;
            float: left;
        }
        .burger-menu {
            float: right;
            i {
                font-size: 1.5em;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        @media screen and (max-width: $lg) {
            display: block;
        }
        .menu-dropdown {
            float: left;
            width: 100%;
            ul {
                padding-left: 0;
                margin-bottom: 0;
                margin-top: 15px;
                li {
                    list-style: none;
                    text-align: center;
                    display: flex;
                    &:nth-last-child(1) {
                        a {
                            border-bottom: none;
                        }
                    }
                    a {
                        color: black;
                        font-size: 1.2em;
                        font-family: 'font3';
                        padding: 10px 0;
                        width: 100%;
                        border-bottom: 1px solid $gray;
                        box-sizing: border-box;
                        border: 4px solid white;
                        &:hover {
                            border: 4px solid rgb(255, 192, 187);
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

#slide-show {
    overflow-x: hidden;

    .slideShowContainer {
        .slider {
            height: 100vh;

            .slide1,
            .slide2,
            .slide3 {
                position: absolute;
                width: 100%;
                height: 100vh;
            }

            .slide1 {
                background: url(../img/1-img.jpg) no-repeat 0 -150px;
                background-size: cover;
                animation: fade1 12s infinite;
                @media screen and (max-width: 1400px) {
                    background-position: center;
                }
            }

            .slide2 {
                background: url(../img/2-img.jpg) no-repeat 0 -500px;
                background-size: cover;
                animation: fade2 12s infinite;
                @media screen and (max-width: 1400px) {
                    background-position: center;
                }
            }

            .slide3 {
                background: url(../img/3-img.jpg) no-repeat 0 -150px;
                background-size: cover;
                animation: fade3 12s infinite;
                @media screen and (max-width: 1400px) {
                    background-position: center;
                }
            }

            @keyframes fade1 {
                0% {
                    opacity: 1;
                }

                25% {
                    opacity: 0;
                }

                75% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }

            @keyframes fade2 {
                0% {
                    opacity: 0;
                }

                25% {
                    opacity: 1;
                }

                75% {
                    opacity: 0;
                }

                100% {
                    opacity: 0;
                }
            }

            @keyframes fade3 {
                0% {
                    opacity: 0;
                }

                25% {
                    opacity: 0;
                }

                75% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }
        }
    }
}

#content {
    // position: relative;
    margin-top: 200px;
    @media screen and (max-width: 1400px) {
        margin-top: 180px;
    }
    @media screen and (max-width: $xl) {
        margin-top: 150px;
    }
    @media screen and (max-width: $lg) {
        margin-top: 50px;
    }

    .container {
        .row {
            .content-item {
                &.right {
                    position: relative;
                    top: 300px;
                    @media screen and (max-width: $lg) {
                        top: 150px;
                    }
                    @media screen and (max-width: $md) {
                        top: 50px;
                    }
                    p {
                        text-align: center;
                        text-transform: uppercase;
                    }
                    img {
                        width: 90%;
                        display: block;
                        text-align: center;
                        margin: 0 auto;
                        box-shadow: 15px 15px 0px $pink;
                        -webkit-box-shadow: 15px 15px 0px $pink;
                        -moz-box-shadow: 15px 15px 0px $pink;
                        @media screen and (max-width: 1400px) {
                            width: 75%;
                        }
                    }
                }
                &.left {
                    position: relative;
                    img {
                        float: right;
                        width: 80%;
                        box-shadow: -15px 15px 0px $light-gray;
                        -webkit-box-shadow: -15px 15px 0px $light-gray;
                        -moz-box-shadow: -15px 15px 0px $light-gray;
                        @media screen and (max-width: 1400px) {
                            width: 75%;
                        }
                        @media screen and (max-width: $md) {
                            float: unset;
                            margin: 0 auto;
                            display: block;
                        }
                    }
                }
            }
        }
        .description {
            z-index: 10;
            // position: relative;
            margin-top: 250px;
            @media screen and (max-width: $lg) {
                margin-top: 200px;
            }
            @media screen and (max-width: $md) {
                margin-top: 150px;
            }
            p {
                width: 50%;
                text-align: center;
                margin: 0 auto;
                font-family: 'font1';
                font-size: 1.1em;
                @media screen and (max-width: $lg) {
                    width: 90%;
                }
            }
        }
    }
    .content-background {
        z-index: 1;
        // position: absolute;
        margin-top: 50px;
        // left: -15px;
        height: 100vh;
        width: 100vw;
        background: url(../img/content-background.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        @media screen and (max-width: $md) {
            // top: 300px;
        }
    }
}
.content-background {
    z-index: 1;
    margin-top: 50px;
    height: 100vh;
    width: 100%;
    background: url(../img/content-background.jpg) no-repeat;
    background-size: cover;
    background-position:center top;
    @media screen and (max-width: $md) {
        // top: 300px;
    }
}

footer {
    width: 100%;
    height: 70px;
    background: $gray;
    padding: 0 40px;
    ul {
        float: left;
        position: relative;
        top: 35px;
        transform: translateY(-50%);
        padding-left: 0;
        margin-bottom: 0;
        li {
            list-style: none;
            display: inline-block;
            margin-right: 15px;
            &:nth-last-child(1) {
                margin-right: 0;
            }
            i {
                color: white;
                font-size: 1.2em;
                &:hover {
                    color: $pink;
                }
                @media screen and (max-width: $lg) {
                    font-size: 1.1em;
                }
            }
        }
    }
    .logo {
        position: absolute;
        display: block;
        text-align: center;
        margin: 0 auto;
        position: relative;
        top: 35px;
        transform: translate(0,-50%);
        height: 25px;
        @media screen and (max-width: $md) {
            display: none;
        }
    }
    .phone {
        float: right;
        font-family: 'font1';
        font-size: 1.2em;
        color: white;
        @media screen and (max-width: $lg) {
            font-size: 1.1em;
        }
        @media screen and (max-width: $md) {
            position: relative;
            top: 35px;
            transform: translateY(-50%);
        }
        a {
            color: white;
        }
    }
}

.dropdown-menu-shop {
    height: 150px;
    
}

#jobs {
    .row {
        margin-bottom: 50px;
    }
    .box {
        height: 250px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px gray;
        transition: box-shadow 0.2s;
        margin-top: 50px;
        &:hover {
            box-shadow: 0px 0px 10px $pink;
        }
        @media screen and (max-width: $md) {
            text-align: center;
        }
        .title {
            font-family: 'font1';
            font-size: 1.5em;
            line-height: 1.2em;
            margin-bottom: 10px;
            @media screen and (max-width: 1200px) {
                font-size: 1.2rem !important;
            }
            a {
                color: black;
            }
        }
        .icons {
            position: absolute;
            bottom: 5px;
        }
    }
}
